- content_for :header do
  = javascript_include_tag 'flexite/application'
  = stylesheet_link_tag 'flexite/application', media: 'all'
  = csrf_meta_tags
.col-md-12#flash
  //= render 'flexite/shared/messages'
  = render 'flexite/shared/progress_loader'
  = render 'flexite/shared/popup'
.container#tree-buttons
  .row
    .col-md-6
      .flex
        %button#new-node-btn.btn.btn-success New node
        %button#edit-node-btn.btn.btn-success Edit node
        %button#copy-node-btn.btn.btn-info Copy Node
        %button#delete-node-btn.btn.btn-danger Delete
        = link_to 'Reload cache', reload_configs_path, remote: true, class: 'btn btn-info'
        %button#show-diff.btn.btn-warning Show diff
        = stage_select
.container#tree-container
  .row
    .col-md-4
      #tree
    .col-md-5
      #section-2
    .col-md-3
      #section-3
#diff-timer

